@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<a href="@Url.Action("New", "Customers")" class="btn btn-primary">New</a>

<br />
<br />

@if (Model.Customers.Count > 0) {
    <table id="customers" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Membership Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model.Customers) {
                <tr>
                    <td scope="row">@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                    <td scope="row">@customer.MembershipType.Name</td>
                    <td scope="row">
                        <div class="btn-group btn-group-toggle">
                            <a href="@Url.Action("Edit", "Customers", new { id = customer.Id }, null)" class="btn btn-outline-primary btn-sm">
                                <i class="fa fa-edit" style="font-size: 12px;"></i>
                            </a>
                            <button data-customer-id="@customer.Id" class="btn btn-outline-danger btn-sm js-delete">
                                <i class="fa fa-trash" style="font-size: 12px;"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
} else {
    <p>We don't have any customers yet.</p>
}

@section scripts {

    <script>
        $(document).ready(function () {

            //Não funciona com o lumem
            //$("#customers").DataTable();

            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Do you really want to delete?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>

    <!-- Não funciona com o lumem -->
    <!--<script>
        $(document).ready(function () {
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Do you really want to delete?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>-->

}